html{
    --darkestColor: #242722;
    --darkColor: #444941;
    --darkMidColor: #5F7A61;
    --lightMidColor: #7FC8A9;
    --lightColor: #D5EEBB;
    --lightBrown: #9e8c7d;
    --middleBrown: #544a42;
    --middleBrownRed: #56361f;
    --darkBrown: #28231e;
    --lightPurple: #b87fc8;
    --darkPurple: #3d2b45;
    --flickerColor: var(--lightMidColor);

    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: flicker;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes flicker{
    4.5%, 5.5%, 33%, 33.5% {
        --flickerColor: var(--lightPurple);
    }

    0%, 5%, 32.5%, 33.33%{
        --flickerColor: var(--darkPurple);
    }

}

body{
    margin: 0px;
    box-shadow: 0px 0px 100px -50px black inset;
    padding-top: 50px;
    flex-grow: 1;
    background-image: url("../img/Leather031_1K-JPG_Roughness.jpg"), linear-gradient(var(--darkBrown), var(--darkestColor));
    background-blend-mode: overlay;
}

#app{
    height: 100%;
}

#titleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

#titleContainer{
    box-shadow: 3px 3px 24px 3px black, -3px -3px 24px var(--lightBrown), -1px -1px 5px var(--flickerColor) inset, 1px 1px 5px var(--darkBrown) inset;
    padding: 0px 20px 0px 20px;
    border: 3px solid;
    border-image: linear-gradient(var(--darkColor), var(--lightColor), var(--darkestColor) 80%) 1;
    background: linear-gradient(var(--darkBrown), var(--middleBrown), var(--darkBrown));
}


#titleText{
    font-family: "Quintessential";
    font-size: 5rem;
    background: linear-gradient(var(--darkColor), var(--lightColor), color-mix(in hsl, var(--flickerColor), var(--darkestColor)) 85%);
    background-clip: text;
    color: transparent;
}


#subtitleText{
    font-family: "Permanent Marker";
    color: var(--flickerColor);
    text-shadow: 0px 0px 1px var(--flickerColor), 0px 0px 50px var(--flickerColor),-3px 3px 0px var(--darkestColor);
    font-size: 1.75rem;
    position: relative;
    top: -40px;
    left: 165px;
    margin-bottom: -40px;
    
}



#gameView{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.avatarContainer{
    width: 100px;
    border: 2px solid transparent;
    background-color: white;
    border-image: linear-gradient(135deg, var(--darkBrown) 30%, black 100%) 1;
    overflow: hidden;
    box-shadow: 3px 3px 12px 3px black, -2px -4px 12px var(--middleBrown), 0px 0px 10px 10px var(--darkBrown) inset, 0px 0px 60px 0px var(--darkBrown) inset;
}

.avatar{
    width: 100%;
    scale: 120%;
    transform: translateY(2%);
    mix-blend-mode: multiply;
}

.playerStats img{
    mix-blend-mode: color;
}

#player2Side{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.playerStats{
    font-family: "Quintessential";
    color: var(--lightColor);
    font-size: 1.5rem;
    padding: 5px 0px;
}

.smallBoard{
    min-width: 150px;
    height: 150px;
    font-size: 0.5rem;
    opacity: 50%;
}

#largeBoardsView{
    min-width: 300px;
    max-width: 300px;
    overflow-x: hidden;
    box-shadow: 3px 3px 12px 3px black, -2px -4px 12px var(--middleBrown);
    border: 5px solid var(--darkColor);
}

#largeBoardsContainer{
    width: 650px;
    display: flex;
    gap: 50px;
    position: relative;
    transition: transform 4s ease-in-out;
    transform: translateX(-350px);
}

#largeBoardsContainer.player1Focus{
    transform: translateX(0px);
}

.largeBoard{
    
    width: 300px;
    height: 300px;
}

.boardDiv{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100%;
}

.cell{
    background-color: var(--lightColor);
    border: 1px solid var(--darkColor);
}

.cell:hover{
    box-shadow: 0px 0px 0px 3px var(--lightPurple) inset;
}

.hitCell::after{
    content: "💥";
    font-size: 2em;
    position: relative;
    top: -5px;
    left: -3px;
}

.missedCell::after{
    content: "❌";
    font-size: 1.5em;
    position: relative;
    top: 0px;
    left: 1px;
}